/* Demo styles
   ------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: var(--extra-light-gray);
}

.search-list-wrapper {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Autocomplete feature
   ------------------------------------------------------------ */

/* Colors
   ------------------------------ */
:root {
  --event: #282727;
  --extra-light-gray: #e4eefa;
  --light-gray: #dde2f1;
  --medium-gray: #9fa3b1;
  --shadow: #b3c6ff;
  --light: #fff;
}
/* NB – edit the SVG files directly to change the icons colors. */

/* Font 
   ------------------------------ */
.search-list-wrapper,
.ui-widget,
#search-list,
#search-list-options {
  font-family: "Montserrat", sans-serif;
}

/* Search & results layout 
   ------------------------------ */
.search-list-wrapper,
.ui-autocomplete {
  width: 31.25em;
}

.search-list-wrapper.focus {
  /* Raise the field above the autocomplete list that hides the focus outline. */
  z-index: 1;
}

/* Autocomplete wrapper 
   ------------------------------ */
.search-list-wrapper {
  border-radius: 0.35em;
  background: var(--light);
  border-radius: 0.35em;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-shadow: 0 0.6em 0.4em -0.8em var(--shadow);
  box-shadow: 0 0.6em 0.4em -0.8em var(--shadow);
}

/* Autocomplete input 
   ------------------------------ */
#search-list {
  border: none;
  background-color: transparent;
  width: 70%;
  font-size: 1em;
  padding: 0 4em 0 2em;
  position: relative;
}

/* Change placeholder color on focus. */

#search-list:focus::-webkit-input-placeholder {
  color: var(--medium-gray);
}

#search-list:focus::-moz-placeholder {
  color: var(--medium-gray);
}

#search-list:focus:-ms-input-placeholder {
  color: var(--medium-gray);
}

#search-list:focus::-ms-input-placeholder {
  color: var(--medium-gray);
}

#search-list:focus::placeholder {
  color: var(--medium-gray);
}

/* Span that holds BG icon 
   for autocomplete input 
   ------------------------------ */
.search-list-icon {
  position: relative;
}

/* The span's BG icon 
   ------------------------------ */

.search-list-icon::before {
  position: absolute;
  top: 50%;
  right: 1.5em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  height: 1.4em;
  width: 1.4em;
  /* Local SVG version of Font Awesome icon */
  background-image: url("../svg/search-solid.svg");
  background-repeat: no-repeat;
}

/* Button to show all results 
   ------------------------------ */
#search-list-options {
  border: none;
  background-color: transparent;
  width: 30%;
  border-left: 0.15em solid var(--light-gray);
  color: var(--medium-gray);
  position: relative;
  cursor: pointer;
  font-size: 1em;
  text-align: left;
  margin: 0.8em 0.8em 0.8em 0;
  padding: 0 1.8em;
  position: relative;
}

.search-list-wrapper.focus > #search-list-options {
  /* Make the border separator disappear when #search-list has focus.  */
  border: 0;
  padding-left: 1.95em;
}

#search-list-options:hover,
#search-list-options:focus,
#search-list-options:active {
  color: var(--event);
}

/* Icon for the button 
   ------------------------------ */
#search-list-options::after {
  position: absolute;
  top: 48%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  height: 1.5em;
  width: 1.5em;
  /* Local SVG version of Font Awesome icon */
  background-image: url("../svg/caret-down-solid.svg");
  background-repeat: no-repeat;
}

/* Autocomplete focus:
   Adjust the default jQuery UI styles 
   and create the results box.
   ------------------------------ */
.ui-widget-content {
  border: none;
  background-image: none;
}

.ui-widget {
  font-size: 1em;
}

.ui-autocomplete {
  border-top: 1em solid var(--extra-light-gray); /* This acts as a spacer between the results and the field. */
  padding: 1em 1.5em 0 1.5em;
  /* The next two rules restrict the size of the autocomplete list and add a scrollbar for extra content */
  max-height: 16.2em;
  overflow: scroll;
}

.ui-menu-item-wrapper {
  padding: 0.5em;
}

.ui-menu-item:last-of-type {
  padding-bottom: 1em;
}

.ui-menu-item-wrapper:hover,
.ui-menu-item-wrapper:focus,
.ui-menu-item-wrapper:active,
.ui-menu-item-wrapper:hover > a, /* = the help link */
.ui-menu-item-wrapper:focus > a,
.ui-menu-item-wrapper:active > a {
  cursor: pointer;
  color: var(--light);
  background: var(--event);
}

.ui-state-hover,
.ui-state-focus,
.ui-state-active {
  border: none !important; /* !important = default UI override*/
}

/* Help styles 
   (For the link "Can't find your gym?")
   ------------------------------ */
.ui-menu .ui-menu-item.help {
  border-top: 1px solid var(--extra-light-gray);
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0;
}

.ui-menu .ui-menu-item.help a {
  padding: 0;
}

/* @media
   ------------------------------ */

@media screen and (max-width: 500px) {
  #search-list {
    width: calc(100% - 3em); /* 100% minus the width of #search-list-options */
    flex-shrink: 0;
  }

  .search-list-icon::before {
    /* Adjust the spacing and opacity of the icon – the button is removed at this width and the ALL icon needs to be most prominent. */
    right: 1.1em;
    opacity: 0.25;
  }

  #search-list-options {
    width: 3em;
    text-indent: -9999em; /* Removes the "ALL" button text */
    padding: 0;
  }

  #search-list-options::after {
    right: -0.5em; /* Center the icon */
  }
}
